.navbar{
    background: linear-gradient(to right, #2a5298, #4380a8);
}
.navbar-brand{
    color: #ffb007;
    padding-bottom: 5px;
}

.nav-link{
    transition: color 0.3s ease;
}

.nav-link:hover{
    color: #ffffff;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.nav-link.active{
    color: #fff;
    border-bottom: 2px solid #ffb007;
    padding-bottom: 5xp;
}
