<div class="container">
    <div class="row g-4">
        <div class="col-md-6">
            <h2 class="mb-4 text-center f-w-bold ">Peliculas</h2>
            <form>
                <label for="peli">Ingresar Titulo</label>
                <input type="text" class="form-control" id="peli" name="peli" [(ngModel)]="peli">
                <button class="btn btn-primary" type="submit" name="peli" id="peli" (click)="obtenerPeliculas()">Buscar</button>
            </form>
            <div class="col-12" *ngIf="peli && peliculas.length > 0">
                <h2 class="m-4 text-warning text-center fw-bold">Peliculas con el titulo {{peli}}</h2>
                <button type="button" class="btn btn-primary" (click)="obtenerExt()">Obtener Clasificacion</button>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID Unico</th>
                            <th scope="col">Nombre de Pelicula</th>
                            <th scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of peliculas; let i = index">
                            <td scope="row">{{i + 1}}</td>
                            <td>{{ p.id}}</td>
                            <td>{{ p.primaryTitle}}</td>
                            <td><button class="btn btn-primary" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#modelosModal" (click)="obtenerDetalles(p.id)">
                                    Ver mas
                            </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mt-4" *ngIf="peli && array2.length === 2">
    <h2 class="m-4 text-warning text-center fw-bold">Peliculas Clasificacion (Extremos)</h2>
    <table class="table text-white bg-dark table-striped shadow rounded">
        <thead>
            <tr>
                <th scope="col">Posición</th>
                <th scope="col">ID Unico</th>
                <th scope="col">Nombre de Pelicula</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of array2; let i = index">
                <td class="fw-bold text-info">{{ i === 0 ? 'Primero (Más Antigua)' : 'Último (Más Nueva)' }}</td>
                <td>{{ p?.id }}</td>
                <td>{{ p?.primaryTitle }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modelosModal" tabindex="-1" aria-labelledby="modelosModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark text-white border-secondary shadow" *ngIf="idPeli">
            
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="modelosModalLabel">
                    Informacion de <span class="text-warning fw-bold">{{idPeli}}</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
            </div>            
            
            <div class="modal-body">
                <div class="bg-dark text-white border-secondary" *ngIf="detalles && detalles.primaryTitle">
                    <div>
                        Nombre Completo: {{detalles.primaryTitle}}
                    </div>
                    <h2 class="m-4 text-warning text-center fw-bold">Directores</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark text-white border-secondary" *ngFor="let d of detalles?.directors">
                                -> {{d.fullName}}
                            </li>
                        </ul>
                    </div>
                    <h3 class="m-4 text-warning text-center fw-bold">Actores</h3>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark text-white border-secondary" *ngFor="let d of detalles?.cast">
                                -> {{d.fullName}}
                            </li>
                        </ul>
                    </div>
                </div>
                <p *ngIf="!detalles" class="text-muted text-center my-3">
                    No se encontraron peliculas registrados para ese Nombre.
                </p>
            </div>
            
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-warning w-100 fw-semibold" data-bs-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
            </div>
            
        </div>
    </div>
</div>