<div class="container">
    <div class="row g-4">
        <div class="col-md-10">
            <form>
                <h2>Covertidor de Texto a Audio</h2>
                <div class="Form">
                    <div>
                        <div class="mb-3">
                        <label for="msg" class="form-label fw-semibold">Escriba el texto a Convertir:</label>
                        <input type="text"  class="form-control text-dark m-3" name="msg" id="msg" [(ngModel)]="msg" >
                        <button type="button"  class="btn btn-primary w-100 py-2 fw-bold rounded-3 text-white mb-4" (click)="obtener()">
                            Generar Audio MP3
                        </button>
                    </div>
                        <audio [src]="url" controls class="w-100 rounded-3 shadow-sm">
                        </audio>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
