<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card bg-dark text-white border-secondary shadow-lg rounded-4 p-4">
                <h2 class="text-center fw-bold mb-4 text-warning">Convertir Texto a Audio</h2>
                <form>
                    <div class="mb-3 text-white">
                        <label for="url" class="form-label fw-semibold">Ingresa la Url:</label>
                        <input type="text" name="url" id="url" class="form-control text-dark m-3" [(ngModel)]="url" >
                        <button type="button"  class="btn btn-warning w-100 py-2 fw-bold rounded-3 text-dark mb-4" (click)="obtener()">
                            Generar Texto
                        </button>
                    </div>
                    <div *ngIf="resultado" class="col-12 bg-white text-dark text-center p-3 mt-3 rounded-3 shadow-sm border">
                        <p class="mb-0 fw-semibold fs-5">{{ resultado }}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>