<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card bg-dark text-white border-secondary shadow-lg rounded-4 p-4">
                <h2 class="text-center fw-bold mb-4 text-warning">Convertir Texto a Audio</h2>
                <form>
                    <div class="mb-3">
                        <label for="texto" class="form-label fw-semibold">Escriba el texto a Convertir:</label>
                        <input type="text" name="texto" id="texto" class="form-control text-dark m-3" [(ngModel)]="texto" >
                        <button type="button"  class="btn btn-warning w-100 py-2 fw-bold rounded-3 text-dark mb-4" (click)="convertirAudio()">
                            Generar Audio MP3
                        </button>
                    </div>
                    <audio [src]="objetUrl" controls class="w-100 rounded-3 shadow-sm">
                        </audio>
                </form>
            </div>
        </div>
    </div>
</div>