<div class="container mt-5">
    <h2 class="text-center fw-bold mb-4 text-warning">Convertir Texto a Audio</h2>
    <form>
        <div class="mb-3">
            <label for="texto" class="form-label fw-semibold">Escriba el texto a reproducir:</label>
            <input type="text" name="texto" id="texto" class="form-control text-dark m-3" [(ngModel)]="texto" >
            <button type="button"  class="btn btn-warning w-100 py-2 fw-bold rounded-3 text-dark mb-4" (click)="convertirTextoAudio()">
                Generar Audio MP3
            </button>
        </div>
        <div class="text-center p-2 bg-secondary bg-opacity-25 rounded">
            <audio controls class="w-100">
                <source [src]="objetUrl" type="audio/mpeg">
                Tu navegador no soporta la reproducción de este audio.
            </audio>
        </div>
    </form>
</div>