<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      
      <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-3 mb-4">
        <h2 class="fw-bold text-primary m-0">Fomrulario de Consulta</h2>
        
        <form class="d-flex align-items-end gap-2 flex-wrap">
          <div class="col-12">
            <label for="url" class="form-label fw-semibold">Codigo de Pais:</label>
            <input type="text" name="url" id="url" class="form-control text-dark m-3" [(ngModel)]="codigoPais"  [(ngModel)]="pais">
            <label for="categorias">Codigos:</label>
                <select
                class="form-select"
                id="categorias"
                [(ngModel)]="codigoPais"
                [(ngModel)]="pais"
                name="categoria">
                
                <option value="">Seleccione una categoría</option>

                <option *ngFor="let c of cod" [value]="c.code">
                    {{ c.country }}
                </option>
                </select>
          </div>
          <div>
            <label for="ciudad" class="form-label fw-semibold mb-1">Año:</label>
            <input type="text" name="ciudad" id="ciudad" class="form-control" [(ngModel)]="anio">
          </div>
          <button type="button" class="btn btn-primary fw-semibold" (click)="obtenerDias()">
            Consultar Dias
          </button>
          <button type="button" class="btn btn-warning btn-sm fw-semibold shadow-sm" (click)="obtenerDeetalles()">
            Consultar Info
          </button>
        </form>
      </div>

      <div>
        <h3 class="my-4 text-secondary text-center fw-bold">Dias Festivos</h3>
        <div class="table-responsive shadow-sm rounded border">
          <table class="table table-hover table-striped align-middle m-0">
            <thead class="table-light border-bottom">
              <tr>
                <th scope="col" class="py-3">Date</th>
                <th scope="col" class="py-3">LocaName</th>
                <th scope="col" class="py-3">CountryCode</th>
                <th scope="col" class="py-3">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let a of array">
                <td>{{ a.date }}</td>
                <td>{{ a.localName }}</td>
                <td>{{ a.countryCode}}</td>
                <td>
                  <ul *ngFor = "let x of a.types">
                    <li>{{ x }}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      
        </div>
      </div>
    </div>

